[include firmware_retract.cfg]
[respond]
default_type: command


[save_variables]
filename: ~/klipper/saved_variables.cfg


[exclude_object]


[include shell_command.cfg]
[include mainsail.cfg]
[include sound.cfg]
[include git_backup.cfg]
[include macros.cfg]
[include start.cfg]
[include end_print.cfg]
[include input_shaper.cfg]
[include probe.cfg]
[include mcu.cfg]
[include temperatur_sensors.cfg]
[include fans.cfg]
[include led.cfg]
[include heater.cfg]
[include extruder.cfg]
[include stepper_x.cfg]
[include stepper_y.cfg]
[include stepper_z.cfg]
[include z_tilt.cfg]
#[include print_area_bed_mesh.cfg]
[include KlipperScreen.conf]
#[include dockable_probe.cfg]
[include vibr_calibrate_02.cfg]
#[include Crampon.cfg]


##### VzBoT############
#######################

[printer]
kinematics: corexy
max_velocity: 2500
max_accel: 10000
max_accel_to_decel: 10000
max_z_velocity: 5
max_z_accel: 25
square_corner_velocity: 10

[input_shaper]
shaper_freq_x: 100
shaper_type_x: mzv
shaper_freq_y: 81.4
shaper_type_y: ei

########################
########################

[pause_resume]
recover_velocity: 350

########################
########################

[virtual_sdcard]
path: ~/gcode_files

########################
########################

[display_status]

########################
########################

[force_move]
enable_force_move: true
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

########################
########################

[idle_timeout]
timeout: 7200

########################
########################









































